<%- include('../includes/head.ejs') %>

  </head>
  <body>
      <main>
        <%- include('../includes/nav.ejs') %>

        <div class="blog_section">

    <h3><%= post.title %></h3>
    <div class="edit_delete">
    <button>
        <a href="/admin/edit-post/<%= post._id %>?edit=true">Edit Post</a>
      </button>
     
      <form action="/admin/delete-post" method="POST">
        <input type="hidden" name="postId" value="<%= post._id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <button type="submit">Delete Post</button>
      </form>
    </div>
    <p><%= post.body %></p>
    <p><%= post.author.name %></p>
   
    <button><a href="#">Comments</a></button>
    <button>
      <a href="/admin/like-post/<%= post._id %>?like=true">Like Post</a> <span><%= post.getLikes() %></span> </button>
    <!-- <form action="/admin/add-like" method="POST">
      <input type="hidden" name="like" value="true" />
      <input type="hidden" name="postId" value="<%= post._id %>" />
      <button type="submit">Like </button>
    

    </form> -->
    <!-- <form action="/admin/add-dislike" method="POST">
      <input type="hidden" name="dislike" value="false" />
      <input type="hidden" name="postId" value="<%= post._id %>" />

      <button type="submit">Dislike</button>
    </form> -->
    </div>
    <sidebar class="sidebar">
        <div>
            <h2>Sidebar</h2>
          </div>
      </sidebar>
    </main>
  </body>
</html>
